body {
  font-family: 'Helvetica';
}

header {
  margin: 2rem;
}

main {
  margin: 0 4rem;
}

h1 {
  text-align: center;
}


section {
  margin: 3rem 0;
}

/** Mise en forme de l'espace de formulaire */
.todoform {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5rem;
  width: 60%;
  margin: auto;
}

.todoform div {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}

.todoform label {
  font-size: 1.2rem;
  font-weight: 500;
}

.todoform button {
  width: 25%;
  margin: auto;
  border-radius: 2rem;
  background-color: lightblue;
  height: 2rem;
}

.todoform button:hover {
  box-shadow: 1px 1px 1px black;;
}

input, 
textarea, 
select {
  border-radius: 2rem;
  background-color: lightblue;
  border: none;
  min-height: 3rem;
}

textarea {
  min-height: 6rem;
}

/** Style du tableau de Tache */
table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 0px;
}

thead {
  border: 1px solid black;
  background-color: lightgray;
  padding: 1.2rem;
  font-size: 1.5rem;
}

tbody tr {
  height: 5rem;
  border-bottom: 1px solid black;
}

.d-none {
  display: none;
}